<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-91e3">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-nav-container">
      </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="https://api.whatsapp.com/send?phone=5524988236757&text=Ol%C3%A1" style="padding: 10px 20px;">
        <img src="static/images/whatsapp.png" alt="">
      </a>
      </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="https://www.linkedin.com/in/gabriel-rocha-b5594b239/" style="padding: 10px 20px;">
        <img src="static/images/linkedin.png" alt="">
      </a> 
      </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="https://github.com/Gabrielrocha20" style="padding: 10px 20px;">
        <img src="static/images/github.png" alt="">
      </a>
      </li>
    </div>
  </div>
</footer>